$main-color: #FAFAFA;
$secondary-color: black;
$main-background: lightyellow;
$padding-xl:35px;
$padding-l:20px;
$padding-m:10px;
$padding-s:5px;
$font-family-1:'Arial';
$font-family-2:'Times New Roman';

