
body {
  background: #F6F4D2;
}

.container {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 200px;
  height: 300px;
}

.head {
  position: absolute;
  top: 30px;
  width: 180px;
  height: 140px;
  background: #947267;
  border-radius: 90%;
  border-bottom-left-radius: 180px;
  border-bottom-right-radius: 180px;
}

.hair {
  position: absolute;
  top: -1px;
  left: 70px;
  background: #947267;
  width: 20px;
  height: 20px;
  border-radius: 100% 0 100% 100%;
  transform: rotate(-20deg);
}

.hair.two {
  left: 80px;
}

.ear {
  position: absolute;
  top: 30px;
  width: 50px;
  height: 50px;
  background: #947267;
  border-radius: 80% 200% 50% 200%;
}

.ear.right {
  position: absolute;
  left: 130px;
  width: 50px;
  height: 50px;
  background: #947267;
  border-radius: 200% 80% 200% 50%;
}

.inner {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 30px;
  height: 30px;
  background: #C8AAA0;
  border-radius: 80% 200% 50% 200%;
}

.inner_right {
  position: absolute;
  background: #C8AAA0;
  width: 30px;
  height: 30px;
  top: 5px;
  left: 13px;
  border-radius: 200% 80% 200% 50%;
}

.eye {
  position: absolute;
  top: 50px;
  left: 40px;
  background: #FFF;
  width: 30px;
  height: 40px;
  border-radius: 100%;
}

.eye.right {
  transform: translateX(70px);
}

.iris {
  position: absolute;
  top: 9px;
  left: 10px;
  background: #000;
  width: 15px;
  height: 20px;
  border-radius: 100%;
}

.iris.right {
  left: 5px;
}

.mouth_container {
  position: absolute;
  top: 0;
}

.snout {
  z-index: 1;
  position: absolute;
  top: 90px;
  left: 71px;
  width: 40px;
  height: 30px;
  border-radius: 100%;
  background: #BA9588;
}

.nose {
  z-index: 3;
  position: absolute;
  top: 80px;
  left: 80px;
  background: #433;
  width: 20px;
  height: 20px;
  border-radius: 180% 100% 30% 100%;
  transform: rotate(40deg);
}

.bridge {
  z-index: 2;
  position: absolute;
  top: 80px;
  left: 60px;
  width: 30px;
  height: 30px;
  background: none;
  border-radius: 10%;
  box-shadow: 2px 3px 0 #433;
}

.bridge:before {
  content: '';
  z-index: 2;
  position: absolute;
  left: 32px;
  width: 30px;
  height: 30px;
  background: none;
  border-radius: 10%;
  box-shadow: -1px 3px 0 #433;
}

.teeth {
  z-index: 1;
  position: absolute;
  top: 110px;
  left: 76px;
  width: 30px;
  height: 25px;
  background: #FFF;
  border-radius: 5px;
}

.teeth:before {
  position: absolute;
  left: 15px;
  content: "";
  width: 1px;
  height: 26px;
  background: #666;
  opacity: 0.2;
}

.mid {
  position: absolute;
  left: 10px;
  top: 130px;
  width: 160px;
  height: 180px;
  background: #947267;
  border-radius: 100% 100% 40% 40%;
}

.tail {
  overflow: hidden;
  z-index: -1;
  position: absolute;
  top: 180px;
  left: 140px;
  width: 60px;
  height: 120px;
  border-radius: 50%;
  background: #666;
  transform: rotate(30deg);
}

.leg {
  position: absolute;
  top: 300px;
  left: 30px;
  width: 40px;
  height: 20px;
  border-radius: 130%;
  background: #666;
}

.leg.right {
  transform: translateX(80px);
}

.hand {
  position: absolute;
  top: 66px;
  left: 10px;
  width: 50px;
  height: 20px;
  border: 3px solid #83665B;
  border-left: none;
  border-radius: 100% 100% 100% 30%;
  transform: rotate(20deg);
}

.hand.right {
  left: 100px;
  border-radius: 100% 100% 30% 100%;
  transform: rotate(-20deg);
  border-right: none;
}

.tie {
  // overflow: hidden;
  z-index: 1;
  position: absolute;
  top: 150px;
  left: 80px;
  width: 20px;
  height: 120px;
  background: #CF995F;
  border-bottom-left-radius: 80%;
  border-bottom-right-radius: 80%;
}

.tie:before {
  content: '';
  position: absolute;
  top: -9px;
  left: -5px;
  width: 80px;
  height: 10px;
  background: #CF995F;
  border-radius: 20px;
  transform: rotate(-18deg);
}

.tie:after {
  content: '';
  position: absolute;
  top: -9px;
  left: -55px;
  width: 80px;
  height: 10px;
  background: #CF995F;
  border-radius: 20px;
  transform: rotate(18deg);
}

.stripe {
  position: absolute;
  left: 10px;
  width: 2px;
  height: 38px;
  background: #FFF;
  opacity: 0.4;
  transform: rotate(30deg);
  border-radius: 100%;
}

.stripe.two {
  top: 30px;
}

.stripe.three {
  top: 60px;
}

.stripe.four {
  height: 24px;
  top: 90px;
}

.tail_stripe {
  position: absolute;
  left: 10px;
  width: 2px;
  height: 100px;
  background: #FFF;
  opacity: 0.4;
  transform: rotate(60deg);
  border-radius: 100%;
}

.tail_stripe.one {
  top: -20px;
}

.tail_stripe.two {
  top: 20px;
}

.tail_stripe.three {
  top: 40px;
}

.ver_stripe {
  position: absolute;
  top: 36px;
  left: -40px;
  height: 2px;
  width: 100px;
  background: #FFF;
  opacity: 0.4;
  border-radius: 100%;
}

.ver_stripe.one {
  top: 17px;
}

.ver_stripe.two {
  top: 52px;
}

.ver_stripe.three {
  top: 82px;
}
View Compiled


Resources1×0.5×0.25×Rerun