body{
    font-size: 17px;
    line-height: 25px;
    background: #e2e2e2;
    color: #424242;
}

mark{
    background: #fdd0e5;
}

strong {
    color: #a60b64;
}

hr{
    width: 75%;
}


#titulo{
    font-family: 'Francois One', sans-serif;
    font-size: 25px;
    text-align: center;
    color: #242424;
    padding: 15px 0 5px 0;
   
}

/*
.container-img{
    margin: 0 auto 20px auto;
    padding-top: 20px;
   
    padding-bottom: 50px;
    
}


.guns{
    max-width: 50%;
    
}
*/

.section{
    background: #efe6e6;
    border: 1px solid#e6d5d5;
    font-family: 'Cabin', sans-serif;
    margin: 40px auto 40px auto;
    padding: 30px;
    width: 70%;
    
    
}

.container{
    background:#f4f4f4;
    border-left: 5px solid darkgrey;
    font-family: 'Bad Script', cursive;
    font-size: 20px;
    font-style: italic;
    line-height: 30px;
    padding: 20px 40px;
      
}







/*
.section-first{
    background: beige;
}*/