.mi-span{
    display: block;
    border: 1px solid black;
    height: 50px;
    width: 350px;
    text-align: center;
    margin: 0 auto;
}

.mi-span a{
    text-align: center; /* No funciona */
    border: 1px solid red;
}