@import "../abstract/variables";



.main-header{
    align-items: center;
    background: $color-white;
    border: 1px solid $color-border;
    box-sizing: border-box;
    display: flex;
    height: 80px;
    justify-content: space-between;
    padding: 0 40px;
    width: 100%;

    img{
        width: 20%;
    }

    nav{
        align-items: center;
        display: flex;
        height: 40px;
        justify-content: center;
        
        
        .nav-buttons{
            display: inline;
            padding: 0;
            
            li{
                display: inline-block;
                list-style: none;
            }

            a{
                color: $color-link-2; 
                &:hover{
                    color: $color-button;
                    border: none;
                } 
            }

            
        }
        
    }
    a{  align-items: center;
        box-sizing: border-box;
        color: $color-link-1;
        display: flex;
        font-size: $link-size;
        font-weight: 700;
        height: 40px;
        justify-content: center;
        padding: 0 25px;
        text-decoration: none;
       

        &:hover{
            color: $color-black;
            border-bottom: 4px solid $color-black;
            margin-bottom: -4px;
        }
    }
    
}

.menu-hamburguesa{
    display:none;

}