//Colors

$color-background:#f0f4f7;
$color-background-2:#334458;
$color-black:black;
$color-border:#eaebee;
$color-button:#279ae2;
$color-menu:#abb5c5;
$color-link-1:rgb(143, 143, 143);
$color-link-2:#69c9fc;
$color-white:#fcfcfd;
$color-green:rgb(32, 226, 129);
$color-titles:rgb(71, 71, 71);


//Fonts

$main-font:'Roboto', sans-serif;


//Font-sizes
$font-size-2:9px;
$font-size-1:11px;
$menu-size:12px;
$link-size: 13px;
$title-size: 16px;
$main-size:20px;
$icons-size:22px;


